*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.contenedor{
    background-color: saddlebrown;
    padding: 30px;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.pa{
    position: absolute;
}

.pr{
    position: relative;
}

.centgrid{
    display: grid;
    place-items: center;
}

.centflex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex100{
    display: flex;
    justify-content: space-between;
}

.sombra{
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
}

.img_fit{
    height: 100%;
    width: 100%;
    object-fit: cover;
}



.volver{
    font-size: 30px;
    left: 15px;
    top: 15px;
    height: 30px;
    width: 30px;
    background-color: rgba(255, 255, 255, 0.274);
    border-radius: 50%;
    backdrop-filter: blur(5px);
    color: black;
}

.pd25{
    padding: 25px;
}


.seccion1{
    position: relative;
    background-color: aquamarine;
    height: 400px;
    width: 100%;
    
    & .saludo{
        height: 100px;
        width: 200px;
        position: absolute;
        bottom: 30px;
        left: 5%;
        color: rgb(66, 36, 19);
    }

    & .volador{
        display: flex;
        position: absolute;
        height: 50px;
        width: 90%;
        bottom: -25px;
        left: 5%;

    }
}


main{
    height: 30% auto;
    width: 100%;
    padding: 10px;
    

    .resultados{
        background-color: tomato;
        display: flex;
        flex-direction: column;
        gap: 20px;

            .resto{
            height: 100px;
            width: 100%;
            color: white;
            font-size: 30pt;
            background-color: wheat;
            position: relative;
            
        
            .img-resto{
                background-color: violet;
                height: 100%;
                width: 50%;
                position: absolute;
                left: 0;
            }
            .datos-resto{
                background-color: tomato;
                height: 100%;
                width: 60%;
                position: absolute;
                right: 0;
                border-bottom-left-radius: 20px;
                box-shadow: 0 0 10px -2px black;
            }
            .puntu-resto{
                position: absolute;
                height: 40px;
                width: 40px;
                background-color: steelblue;
                font-size: 22px;
                display: grid;
                place-items: center;
                right: -10px;
                top: -10px;
                border-radius: 10px 0;
            }
        }
    }
}



.a1{
    display: grid;
    place-items: center;
    background-color: aquamarine;
    height: 50px;
    width: 50px;
}

.buscador{
    height: 100%;
    width: 85%;
    background-color: tomato;
}

.buscar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 8%;
    background-color: teal;
}

.volador input[type=search]{
    height: 100%;
    width: calc(100% - 120px) ;
}

.volador input[type=submit]{
    height: 100%;
    width: 50px ;
}

/* .imagenes_resto{

}

.datos_resto{} */



.resto_image{
    height: 40%;
    width: 100%;
    background-color: yellow;
}

.resto_precio{
    height: 40px;
    width: auto;
    background-color: turquoise;
    right: 15px;
    bottom: -15px;
    border-radius: 8px 0;
    padding: 8px;
    font-weight: bold;
    color: white;
}
.resto_desc{
    height: auto;
    min-height: 60%;
    width: 100%;
    /* background-color: gray; */
    padding: 15px;
    padding-top: 30px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.resto_menu{
    position: fixed;
    bottom: 0;
    height: 60px;
    width: 100%;
    background-color: white; /* temporario*/
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btn_menu{
    /* background-color: violet; */
    flex: 1;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
}


.btn_menu.active{
    border-top: solid 4px aquamarine;
}

.titulo_menu{
    height: 60px;
    width: 100%;
    display: grid;
    place-items: center;
}

.contenedor_tarjetas{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    padding-bottom: 75px;

    .tarjeta{
        display: flex;
        height: 150px;
        background-color: rgba(107, 64, 224, 0.527);
    }

    .foto{
        height: 150px;
        flex: 0 0 150px;
    }

    .tag{
        height: 40px;
        width: auto;
        background-color: turquoise;
        right: -15px;
        bottom: 15px;
        border-radius: 8px 0;
        padding: 8px;
        font-weight: bold;
        color: white;
    }

    .plato_desc{
        
    }
}



@media (orientation: landscape){

    main{
        .resultados{
            flex-direction: row;
            flex-wrap: wrap;

            .resto{
                flex: 0 0 calc(50% -10px);
                background-color: springgreen;
            }
        }

    }

    .contenedor_tarjetas{
        flex-direction: row;
        flex-wrap: wrap;
        .tarjeta{
            flex: 0 0 calc(50% - 10px);
        }
    }
}